body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  height: 50px;
}

.logo, .button, .send-form {
  margin: 5px;
}

.modal-form {
  padding: 20px;
}

.title-form {
  margin-top: 20px;
}

.main {
  padding: 60px 0;
}

.message-block {
  color: #343a40;
}

.message-nickName {
  padding: 0 60px;
  background-color: #f8f9fa;
}

.message-text {
  padding: 0 40px;
}

.message-date {
  padding: 0 100px;
}

.footer {
  height: 50px;
}
